body{
    background-color: #272727;
    color: white;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #272727, black 90%);
}

header{
    height: 200px;
    width: 100%;
}

.img_logo{
    height: 100px;
    margin: auto;
}

